<h1> Voici la liste des doctooors :</h1>
 <% @doctors.each do |doctor| %>
    <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Dr. <%= doctor.first_name %></h5>
      <p class="card-text">Speciality : <%= doctor.speciality %></p>
      <p class="card-text">Zip Code : <%= doctor.zip_code%></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
 
 <% end %>